<launch>
  <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/raspicam_node/image raw out:=/raspicam_node/image/image_raw" />

  <!-- Launch ORB_SLAM2 -->
  <node name="ORB_SLAM2" pkg="ORB_SLAM2_CUDA" type="Mono" args="$(find ORB_SLAM2_CUDA)/../../../Vocabulary/ORBvoc.txt $(find ORB_SLAM2_CUDA)/raspicam-v1.yaml">
    <remap from="/camera/image_raw" to="/raspicam_node/image/image_raw" />
  </node>
</launch>
